@{
    ViewData["Title"] = "Forbidden 403";
}
<h2>@ViewData["Title"]</h2>

<pre>
<p>
     _                           ____             _          _
    / \   ___ ___ ___  ___ ___  |  _ \  ___ _ __ (_) ___  __| |
   / _ \ / __/ __/ _ \/ __/ __| | | | |/ _ \ '_ \| |/ _ \/ _` |
  / ___ \ (_| (_|  __/\__ \__ \ | |_| |  __/ | | | |  __/ (_| |
 /_/ _ \_\___\___\___||___/___/ |____/ \___|_| |_|_|\___|\__,_|
 | || |  / _ \___ /
 | || |_| | | ||_ \
 |__   _| |_| |__) |
    |_|  \___/____/

</p>
</pre>
