[*.cs]
dotnet_diagnostic.CA1707.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = suggestion

# IDE0022: Use expression body for method
dotnet_diagnostic.IDE0022.severity = suggestion
